.settings/
.project
.classpath
.idea/

ImageHarvester.iml

harvester.iml

*.iml

*.jar

harvester-persistence/harvester-persistence.iml
harvester-server/harvester-server.iml
harvester-client/harvester-client.iml

#ignore target compilation
target/
out/


src/test/resources/downloader/image1.jpeg
/src/test/resources/master-slave-configs/scenario1/slave-user.conf
